<div class="blog-listing-tile">
  <a href="{{href}}">
    <div class="blog-listing-tile__img-container" style="background-image: url({{img}})"></div>
    <div class="blog-listing-tile__text-container">
      <div class="blog-listing-tile__cat">
        {{cat}}
      </div>
      <h1 class="blog-listing-tile__heading">
        {{heading}}
      </h1>
      <p class="blog-listing-tile__excerpt">
        {{excerpt}}
      </p>
      <div class="blog-listing-tile__meta">

      </div>
    </div>
  </a>
</div>
