<div class="navbar-fixed">
  <nav class="nav">
    <div class="nav-wrapper">
      <a href="#" data-target="mobileNav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo">
        Logo
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#each menu.links}}
          {{#if children}}
            <li>
              <a class="dropdown-trigger" href="#!" data-target="{{lbl}}_dropdown">{{lbl}}<i class="material-icons right">arrow_drop_down</i></a>
              <ul id="{{lbl}}_dropdown" class="dropdown-content">
                {{#each children}}
                  <li><a href="{{href}}">{{lbl}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{else}}
            <li><a href="{{href}}">{{lbl}}</a></li>
          {{/if}}
        {{/each}}
        <li><a class="waves-effect waves-light btn" href="/contact"><i class="material-icons left">local_post_office</i>Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobileNav">
  {{#each menu.links}}
    <li><a href="{{href}}">{{lbl}}</a></li>
  {{/each}}
</ul>

