<div class="blog-listing-tile-inverse">
  <a href="{{href}}">
    <div class="blog-listing-tile-inverse__text-container">
      <div class="blog-listing-tile-inverse__cat">
        {{cat}}
      </div>
      <h1 class="blog-listing-tile-inverse__heading">
        {{heading}}
      </h1>
      <p class="blog-listing-tile-inverse__excerpt">
        {{excerpt}}
      </p>
      <div class="blog-listing-tile-inverse__meta">

      </div>
    </div>
    <div class="blog-listing-tile-inverse__img-container" style="background-image: url({{img}})"></div>
  </a>
</div>
