{{#nav}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">{{brand}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#each items}}
            {{#if subItems}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{lbl}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {{#each subItems}}
                    <a class="dropdown-item {{#if selected}}active{{/if}}" href="{{link}}">{{lbl}}</a>
                  {{/each}}
                </div>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link {{#if selected}}active{{/if}}" href="{{href}}">{{lbl}}</a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </nav>
{{/nav}}

