<div class="input-group-1-container">
  <label class="input-group-1__label" for="{{name}}">{{label}}</label>
  <input class="input-group-1__input" type="{{type}}" id="{{name}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}" {{required}}>
</div>
