<select name="{{name}}" id="{{name}}">
  {{#each options.selectOptions}}
    <option value="{{value}}" {{#isEqual value ../value}}selected{{/isEqual}}>{{label}}</option>
  {{/each}}
</select>
{{#if options.smallText}}
  <small class="form-text text-muted">{{options.smallText}}</small>
{{/if}}