<select name="{{name}}" id="{{id}}">
  {{#each options.selectOptions}}
    <option value="{{value}}" {{#isEqual value ../value}}selected{{/isEqual}}>{{label}}</option>
  {{/each}}
</select>
<small class="form-text text-muted">{{inputSubText}}</small>
